@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url(main.css);
@import url(themes.css);
@import url(nav.css);

@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 800;
    src: url(/assets/fonts/ggsans.woff2) format("woff2")
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", monospace;
    font-weight: 700;
}
